extends layout

block content
  div.jumbotron
    h2 Trabajo?
    p= currentDate
    p.lead
      p
        form(id="frmYes", method="POST", action="/tally/yes", class="tallyForm")
          button(class="btn btn-lg btn-success")
            span(class="glyphicon glyphicon-thumbs-up")
            | &nbsp; Yes &nbsp;
            span.badge= yesTally
        form(id="frmNo", method="POST", action="/tally/no", class="tallyForm")
          button(class="btn btn-lg btn-danger")
            span(class="glyphicon glyphicon-thumbs-down")
            | &nbsp; No &nbsp;
            span.badge= noTally
