doctype html
html
  head
    title La Zyman
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron.css')

    block extracss

    | <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    | <!--[if lt IE 9]>
    |  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    | <![endif]-->
  body
    div.container
      div.header
        ul(class="nav nav-pills pull-right")
          li(class=pageName=="home"?"active":"")
            a(href="/tally") Home
          li(class=pageName=="tally"?"active":"")
            a(href="/tally/summary") Tally
        h3.text-muted La Zyman
  
      block content

      div.footer
        p &copy; 2014


    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

    block extrajs